<a href="https://colab.research.google.com/github/YeongjiLee0115/githubtest/blob/main/Lambda%2C%20map%2C%20filter%2C%20reduce%2C%20decorators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#lamda function

def square(x):
  return x*x

def cube(x):
  return x**3

def apply_function(func,x):
  return func(x)

In [ ]:
apply_function(square, 2)

4

In [ ]:
apply_function(lambda x: x*x, 2)

#square(2) = lambda x: x*x
#input to lambda calculation is other functions
#lambda is a function that doens't have name, and it can contain any argument for the function

apply_function(lambda x, y, z : )#right side of it is whatever you return

In [6]:
a = lambda x, y: x+y
a(1, 2)

3

In [8]:
#lambda in lambda

high_order = lambda x, func: x + func(x)
high_order(2, lambda x: x*x)

6

In [2]:
type(lambda x : x*x)

square_function = lambda x : x*x #you can name the lambda expression
type(square_function)

addition_one = lambda x: x+1
type(addition_one)
addition_one(1)

#This is equivalent to the following
#def addition_one(x):
#.       return x+1

2

In [ ]:
function_i_made = lambda x: x * x if x %2 == 0 else 3

3

In [ ]:
function_i_made(2)

4

In [ ]:
function_i_made(5)

3

In [ ]:
apply_function(lambda x: x*x, 3)

9

In [ ]:
x = [3, 2, 1]
x.sort()
x

[1, 2, 3]

In [ ]:
x.sort(reverse=True)
x

[3, 2, 1]

In [ ]:
x.sort(key=lambda x: x if x %2 ==0 else 10 * x)
x # 3 becomes 30, 2 becomes 2, 1 becomes 10, and sort them by this new value

[2, 1, 3]

In [ ]:
#MAP Function

In [12]:
#apply_function is a mini version of map
#apply the function to the all iterables
#alternative of list comprehension
# map(func, iterables)

my_pets = ['alfred', 'tabitha', 'william']
upper_my_pets = list(map(str.upper, my_pets))
print(upper_my_pets)


list(map(lambda x: x**2, [1,2,3,4,5])) #lazily evaluate

scores = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
round_up = list(map(round,scores))
print(round_up)

#round function can take two arguments, the number to round up and the number of decimals
round_up_diff = list(map(round, scores, range(1,7)))
print(round_up_diff)

#if the length is different, it just stops and return the result.
round_up_diff_2 = list(map(round, scores, range(1,3)))
print(round_up_diff_2)

['ALFRED', 'TABITHA', 'WILLIAM']
[4, 6, 4, 56, 9, 32]
[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]
[3.6, 5.58]

In [ ]:
#ZIP Function

In [15]:
names = ['YJ', 'Jane', 'Caroline', 'Minsu', 'Kay']
numbers = [1, 43, 2, 5, 3]

name_by_number = list(zip(names, numbers))
print(name_by_number)

#if the length is different, it also just stops and return the result
numbers_shorter_length = [1, 4]
name_by_number = list(zip(names, numbers_shorter_length))
print(name_by_number)

[('YJ', 1), ('Jane', 43), ('Caroline', 2), ('Minsu', 5), ('Kay', 3)]
[('YJ', 1), ('Jane', 4)]

In [ ]:
#FILTER Function

In [16]:
#filter(func, iterable)
# func argument should return a boolean type
# it filters away the elements which is false


scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))

print(over_75)

[90, 76, 88, 81]

In [17]:
over_80 = list(filter(lambda x: x > 80, scores))

print(over_80)

[90, 88, 81]

In [ ]:
#REDUCE Function

In [19]:
#reduce(func, iterable[, initial])
#initial is an optional argument 
# it takes first and second elements and passes them to the function
# the function result value returned to reduce
# reduce will apply it as the first element and take third element as the second one and compute again.. (cumulatively)

from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers)
print(result)


small_numbers = [1, 2, 3]
result2 = reduce(custom_sum, small_numbers)
print(result2)

68
6

In [ ]:
#DECORATORS Function

In [20]:
#higher-order functions
#takes another function and extends the behavior of the latter function without explicitly modifying it

def parent(num):
  def first_child():
    return "hi, i'm emma"
  
  def second_child():
    return "hi, i'm john"
  
  if num ==1:
    return first_child

  else :
    return second_child

In [22]:
first = parent(1)
print(type(first))
second = parent(2)
print(type(second))

<class 'function'>
<class 'function'>

In [26]:
first()

"hi, i'm emma"

In [27]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

def say_whee():
    print("Whee!")

say_whee = my_decorator(say_whee)

In [28]:
say_whee()

Something is happening before the function is called.
Whee!
Something is happening after the function is called.

In [29]:
from datetime import datetime

def not_during_the_night(func):
    def wrapper():
        if 7 <= datetime.now().hour < 22:
            func()
        else:
            pass  # Hush, the neighbors are asleep
    return wrapper

def say_whee():
    print("Whee!")

say_whee = not_during_the_night(say_whee)

In [30]:
say_whee()

Whee!